#container {
    height:576px;
    width:576px;
    background-color:white;
    overflow:hidden;
    margin:auto;
}

.unit {
    background-color:black;
    height:12px;
    width:12px;
    display:inline-block;
    float:left;
}
.center {

    width: 100%;
    margin:auto;
    text-align: center;
}

.centerButtons {
    margin:5px; auto;
    padding:5px;

    
}
